@model FurnitureDesignArchive.Models.FurniturePart

@{
    ViewBag.Title = "Create Part";
}

<div class="container">
    <div class="editWrap">
        @Html.ActionLink("Back to List", "Index", "Furnitures", null, new { @class = "backTo" })


        <h2>Create Parts</h2>
        <h4>Furniture Part For @Html.ValueFor(model => model.FurniturePieceName)</h4>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*<div class="form-group">
                    @Html.LabelFor(model => model.FurnitureIndex, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ValueFor(model => model.FurnitureIndex)
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.PartName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PartName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PartName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PartCount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PartCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PartCount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Width, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Width, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Length, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Length, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BoardThickness, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BoardThickness, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BoardThickness, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Made Part Board Foot Calculations OFF of User Entry Above *@

                <div class="form-group">
                    @Html.LabelFor(model => model.PartNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PartNotes, new { @class = "textArea-control" })
                        @Html.ValidationMessageFor(model => model.PartNotes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="partSaveButtonContainer">
                        <input type="submit" value="Add Another Part" name="submit" class="save addAnother" />
                        <input type="submit" value="Finished" name="submit" class="save FinishedParts" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>