@model FurnitureDesignArchive.Models.Furniture

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="editWrap">
        <h2>Delete @Html.DisplayFor(model => model.FurnitureName)</h2>
        <h3 class="AreYouSure">Are you sure you want to delete this piece AND all of it's part components?</h3>
        <div>
            <hr />
            <img class="deleteImage" src="@Model.FurnitureImg" />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.buildLevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.buildLevel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.furnitureType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.furnitureType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdditionalNotes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdditionalNotes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CompletedBefore)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompletedBefore)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Yes, Delete" class="deleteConf" /> |
                    @Html.ActionLink("No, Back to List", "Index", null, new { @class = "deleteBackTo" })
                </div>
            }
        </div>
    </div>
</div>
