@model FurnitureDesignArchive.Models.Furniture
@using FurnitureDesignArchive.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Furniture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FurnitureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FurnitureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FurnitureImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FurnitureImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buildLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buildLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.furnitureType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.furnitureType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardFootEst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardFootEst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletedBefore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletedBefore)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FurnitureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>




<h4> Furniture Parts List </h4>
<hr />
@{
    //var getParts = ViewBag.Listdata as ICollection<FurniturePart>;
    var getParts = ViewBag.Parts;
    foreach (var item in getParts)
    {
        int id = item.FurniturePartId;
        if (item.FurnitureIndex == Model.FurnitureID)
        {
            <p>@item.FurnitureIndex  </p>
            <p>@item.FurniturePartId</p>
            <p>@item.PartName </p>
            <p>@item.Width</p>
            <p>@item.Length</p>

            @Html.ActionLink("Edit", "Edit", "FurnitureParts", new { id }, null)
            <br />

        }
        else
        {
            <h1> No Parts Here</h1>
        }
    }
}