@model IEnumerable<FurnitureDesignArchive.Models.Furniture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FurnitureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FurnitureImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.furnitureType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buildLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardFootEst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedBefore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FurnitureName)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.FurnitureImg)" width="40px" height="40px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.furnitureType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buildLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardFootEst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedBefore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FurnitureID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FurnitureID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FurnitureID })
        </td>
    </tr>
}

</table>
